body {
	background: #ddd;	        
}

.square {
    padding: 10px;
	width: 500px;
	height: 500px;
	border: none;
	margin: 20px auto 0 auto;
	background: #444;
}

.points {
    width: 500px;
    height: 50px;
   margin: 20px auto 0 auto;
   padding: 10px;
   text-align: center;
}
.points b{
    font-size: 2em;
    color:#555;
}

.square .col-xs-4 {	
	border: 1px solid #deaffa;
    display: table;
    height: 33.333333333333333333333333333%;
}

.square .content{
    vertical-align: middle;
	text-align: center;
    display: table-cell;
}

h2 {
	color: #4d4e53;
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-style: bold;
}

h2.icon-x{
    color: #DD4B39;
}
h2.icon-o{
    color: #0095dd;
}

#top-left {
	border-top: none;
	border-left: none;
}
#top-middle {
	border-top: none;
}
#top-right {
	border-top: none;
	border-right: none;
}
#center-left {
	border-left: none;
}

#center-right {
	border-right: none;
}
#bottom-left {
	border-left: none;
	border-bottom: none;
}
#bottom-middle {
	border-bottom: none;
}
#bottom-right {
	border-right: none;
	border-bottom: none;
}
.modal-header,.modal-body {
    background: #444;
    border: 1px solid #deaffa;
    color: #fff;
}
.modal-dialog {
    border: transparent;
}
.modal-footer {
    text-align: center;
    border: transparent;
}
.btn {
    font-size: 36px;
    font-weight: 800;
}
hr.top-horizontal, hr.middle-horizontal, hr.bottom-horizontal {
    display: none;
    top: 55px;
    width: 440px;
    border-top: 3px dotted rgba(255,238,238,0.75);
    z-index: 100;
    position: absolute;
}
hr.left-vertical, hr.middle-vertical, hr.right-vertical {
    display: none;
    -webkit-transform: rotate(-90deg);
    left: -143px;
    top: 209px;
    width: 440px;
    border-top: 3px dotted rgba(255,238,238,0.75);
    z-index: 100;
    position: absolute;
}
hr.left-diagonal {
    display: none;
    -webkit-transform: rotate(-135deg);
    top: 55px;
    left: -225px;
    width: 607px;
    border-top: 3px dotted rgba(255,238,238,0.75);
    z-index: 100;
    position: absolute;
}
hr.right-diagonal {
    display: none;
    -webkit-transform: rotate(-45deg);
    top: 56px;
    left: -227px;
    width: 607px;
    border-top: 3px dotted rgba(255,238,238,0.75);
    z-index: 100;
    position: absolute;
}

/* Mobile */
@media (max-width: 480px) {
	.square {
		width: 350px;
		height: 350px;
	}
}
